* {
    padding: 0;
    margin: 0;
}

.content {
    padding: 25px;
}

.content h1 {
    color: #34495e;
    text-align: center;
}

/* Footer Effact Design */
@media only screen and (min-width: 576px) {

    .content {
        z-index: 99;
        background: #fff;
        margin-bottom: 480px;
        -webkit-box-shadow: #000 0 7px 35px 0;
        -moz-box-shadow: #000 0 7px 35px 0;
        box-shadow: #000 0 7px 35px 0;
        /*        box-shadow: 0 0 20px 0 rgba(000, 000, 000, .3);*/
    }

    .footer {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 480px;
        z-index: -99;
    }
}

/* Footer Design */
.footer {
    padding: 55px 0;
    background: #007b5e !important;
}

.footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: #ffffff;
}

.footer a {
    color: #ffffff;
    text-decoration: none !important;
}

.footer ul.social li {
    padding: 3px 0;
}

.footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    transition: .5s all ease;
}

.footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

.footer ul.social li a,
.footer ul.quick-links li a {
    color: #ffffff;
}

.footer ul.quick-links li {
    padding: 3px 0;
    transition: .5s all ease;
}

.footer ul.quick-links li:hover {
    margin-left: 5px;
}

.footer ul.quick-links li a i {
    margin-right: 5px;
}

footer .copy {
    margin: 25px 0 0 0;
    padding: 15px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.3);
}

footer .copy a {
    color: #fff;
}

@media (max-width:767px) {
    .footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
